/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth !important;
}

/* Fonts */
@font-face {
    font-family: 'Aeonik Bold';
    src: url('/assets/fonts/Aeonik-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Aeonik Light';
    src: url('/assets/fonts/Aeonik-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Aeonik Medium';
    src: url('/assets/fonts/Aeonik-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Aeonik Regular';
    src: url('/assets/fonts/Aeonik-Regular.ttf') format('truetype');
}
body {
    font-family: 'Aeonik Regular', sans-serif;
}

/* Header styles */

header.header {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background-image: url('/assets/images/roberto-nickson-5JOMpgzPDK4-unsplash-min.png');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navigation {
    height: 100%;
    color: #efefef;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.navigation .desc-1 {
    margin: 0 auto;
    font-size: 21px;
}
/* Description box styles */
.navigation .desc-box {
    width: 45%;
    height: 95vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
}
.navigation .desc-2 {
    font-size: 69px;
    line-height: 100%;
}
.navigation .sub-icons {
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
}
.icon-card {
    width: 30%;
}
.icon-card img {
    width: auto;
    margin-bottom: 10px;
}
/* Nav */
nav {
}
.sub-navigation {
    display: none;
}
.sub-navigation .header-text {
    display: none;
}

/* Nav bar Toggler */
#nav-toggler {
    display: none;
}
.nav-toggler {
    position: fixed;
    top: 1.3rem;
    right: 2%;
    padding: 1rem;
    cursor: pointer;
    z-index: 1000;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    cursor: pointer;
    display: block;
    background-color: #fff;
    position: absolute;
    height: 3px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.hamburger::before {
    content: '';
    margin-top: -8px;
}

.hamburger::after {
    content: '';
    margin-top: 8px;
}
#nav-toggler:checked + .nav-toggler .hamburger::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#nav-toggler:checked + .nav-toggler .hamburger {
    background: rgba(255, 255, 255, 0);
}

#nav-toggler:checked + .nav-toggler .hamburger::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
#nav-toggler:checked + .nav-toggler + div.navigation-box {
    transform: translateY(100%);
    /*     position: fixed; */
}

/* Deployed Nav Bar */

.navigation-box {
    z-index: 999;
    min-height: 100vh;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000000;
    position: fixed;
    top: -100%;
    transform: translateY(-100%);
    transition: all 380ms ease-in, top 1s;
}
.top-nav {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1.75fr 1.45fr 0.1fr;
}
.top-nav .navigation-links {
    min-height: 50vh !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-nav .navigation-links ul.section-nav {
    list-style: none;
    font-size: 35px;
    line-height: 100%;
    margin-bottom: 10vh;
    display: block;
    width: fit-content;
}
.top-nav .nav-mail {
    font-size: 25px;
    max-width: 60%;
}
label {
}
.top-nav .navigation-links ul.section-nav li {
    display: block;
    height: fit-content;
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
}
.top-nav .navigation-links ul.section-nav li a {
    text-decoration: none;
    color: unset;
}
.top-nav .navigation-links ul.section-nav li::after {
    content: '';
    display: block;
    width: 0%;
    height: 1.8px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: all 0.2s ease-in;
}
.top-nav .navigation-links ul.section-nav li:hover::after {
    width: 100%;
}

.bottom-nav {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1.75fr 1.45fr 0.1fr;
    grid-template-columns: 1.75fr 1.15fr 0.4fr;
}
.bottom-nav p {
    color: #ffffff;
    display: grid;
    font-size: 22px;
}

/* Scroll Bar */
.scroll-bar {
    z-index: 7;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 1rem;
    /* background: rgba(103, 103, 103, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    background-color: #000000 !important;
    visibility: hidden;
}
.scrollbar-visible {
    visibility: visible;
    animation: appear 200ms ease-in 0s;
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Main content */

/* Section 1 */
section.intro-section {
    width: 100%;
    background-color: #f4f4f4;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-box {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.intro-title {
    color: #1a1a1a;
    font-size: 69px;
    margin-bottom: 30px;
    line-height: 100%;
    font-family: 'Aeonik Medium';
}
.intro-text-1 {
    color: #1a1a1a;
    margin-bottom: 10px;
    font-size: 24px;
}
.intro-text-2 {
    color: #1a1a1a;
    font-size: 24px;
}

/* Section 2 */
section.product-section {
    background-color: #000000;
    width: 100%;
    height: fit-content;
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
}
.product-header {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
}
.product-header div {
    width: 50%;
}
.product-header img {
    width: 20%;
    margin-left: 15px;
    margin-top: 15px;
}
.product-header div p {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Aeonik Medium';
}
.portability-img {
    display: block;
    width: 90% !important;
    width: -moz-available;
    width: -webkit-fill-available;
    height: fit-content;
    margin: 0 auto;
    margin-top: -80px;
}
.product-info {
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img.relic-web-home {
    width: 30%;
    margin-right: 40px;
}
.detail-box {
    max-width: 40%;
    letter-spacing: 0.5px;
}
.line-1 {
    border-bottom: 0.5px solid #4d4d4d;
    color: #efefef;
    margin-bottom: 15px;
}
.line-1 p:nth-child(1) {
    font-size: 21px;
}
.line-1 p:nth-child(2) {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'Aeonik Bold';
}
.line-1 p:nth-child(3) {
    font-size: 16px;
    margin: 15px 0;
}
.line-2 {
    color: #efefef;
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.line-2 span {
    width: 45%;
    border-bottom: 0.5px solid #4d4d4d;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
.line-2 span p:nth-child(1) {
    font-size: 21px;
}
.line-2 span p:nth-child(2) {
    font-size: 40px;
    font-family: 'Aeonik Bold';
    /*  display: inherit;
    flex-direction: row !important;
    align-items: flex-end; */
}
.line-2 span p:nth-child(2) span {
    border-bottom: none;
    margin-bottom: 3px;
    margin-left: 5px;
}
.line-2 span p:nth-child(3) {
    font-family: 'Aeonik Bold';
    font-size: 30px;
    margin-bottom: 15px;
}
/* .line-2 span p:nth-child(2) span {
    font-size: 30px;
} */

.line-3 {
    color: #efefef;
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.line-3 span {
    width: 45%;
    border-bottom: 0.5px solid #4d4d4d;
}
.line-3 span:nth-child(1) {
    border-bottom: none;
}
.line-3 span p:nth-child(1) {
    font-size: 21px;
}
.line-3 span p:nth-child(2) {
    font-size: 40px;
    font-family: 'Aeonik Bold';
}
.line-3 span p:nth-child(3) {
    font-size: 30px;
    margin-bottom: 15px;
    font-family: 'Aeonik Bold';
}
/* .line-3 span p:nth-child(2) span {
    font-size: 30px;
} */
.line-4 {
    color: #efefef;
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.line-4 span {
    width: 45%;
}
.line-4 span p:nth-child(1) {
    font-size: 21px;
}
.line-4 span p:nth-child(2) {
    font-size: 30px;
    font-family: 'Aeonik Bold';
}
.line-4 span:nth-child(2) p:nth-child(2) {
    font-size: 40px;
    font-family: 'Aeonik Bold';
}
/* .line-4 span p:nth-child(2) span {
    font-size: 30px;
} */
.line-4 span p:nth-child(3) {
    font-family: 'Aeonik Bold';
    font-size: 30px;
    margin-bottom: 15px;
}

.product-extra {
    margin-top: 80px;
    text-align: center;
}
.product-extra p:nth-child(1) {
    font-family: 'Aeonik Bold';
    font-size: 35px;
}
.product-extra p:nth-child(2) {
    font-size: 35px;
    margin-bottom: 80px;
    font-family: 'Aeonik Light';
}
.product-extra img.solar-panels {
    width: 70%;
}
.solar-panels-image {
    display: inline-block;
}
.solar-panels-image img:nth-child(odd) {
    width: 20vw;
    z-index: 3;
}
.solar-panels-image img:nth-child(even) {
    width: 23vw;
    position: relative;
    z-index: 5;
}

.product-details {
    margin: 80px 0;
    width: 100%;
}
.details {
    margin-top: 60px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #efefef;
    text-align: center;
}
.details img {
    width: 95%;
    margin-bottom: 20px;
}
.consulting {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 80px;
}
.consulting img {
    width: 10%;
    margin-right: 20px;
}
.consult-button {
    all: unset;
    padding: 10px 25px;
    background-color: #6633ff;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Section 3 */
.sub-product-section {
    padding-top: 20px;
}
.sub-product-section .product-header div:nth-child(2) {
    width: 90%;
}
.sub-product-section .product-header div img {
    align-items: flex-start;
}
.sub-product-section .product-header div img {
    width: 20%;
    margin-top: 15px;
}
.sub-product-section .product-header div p {
    color: #1a1a1a !important;
    line-height: 100%;
    font-family: 'Aeonik Medium';
}
.back-gen-img {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: -90px;
}

/* Section 4 */
.product-2-section {
    padding: 80px 0;
    background-color: #f4f4f4;
}
.product-2-info {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
img.relic-delta {
    width: 22%;
}
.subline-1 {
    border-bottom: 0.5px solid #4d4d4d;
    color: #000000;
    margin-bottom: 15px;
    font-family: 'Aeonik Medium';
}
.subline-1 p:nth-child(1) {
    font-size: 21px;
}
.subline-1 p:nth-child(2) {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'Aeonik Bold';
}
.subline-1 p:nth-child(3) {
    font-size: 16px;
    margin: 15px 0;
    font-family: 'Aeonik Regular';
}
.subline-2 {
    color: #000000;
    font-family: 'Aeonik Medium';
    font-size: 12px;
    /*     margin-bottom: 10px; */
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 0.5px solid #4d4d4d;
}
.subline-2 span {
    width: 49%;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.subline-3 {
    color: #000000;
    padding: 5px 0;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Aeonik Medium';
}
.subline-3 span {
    width: 49%;
    height: 30px;
    text-align: center;
    border-bottom: 0.5px solid #4d4d4d;
}
.subline-3 span:nth-child(1) p {
    font-family: 'Aeonik Bold';
    font-size: 22px;
}
.subline-3 span:nth-child(2) p {
    font-size: 21px;
}
/* .subline-3 span:nth-child(3) p {
    font-size: 21px;
} */
.no-line {
    border-bottom: none;
    margin-top: 10px;
}

.consulting-2 {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}
.volta-img {
    width: 35%;
    margin-right: 20px;
}
.consult-button-2 {
    width: 45%;
    all: unset;
    padding: 10px 15px;
    background-color: #6633ff;
    border-radius: 20px;
    color: #f7f7f7;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.text-list {
    width: 100%;
    padding: 15vh 0;
}
.text-list ul {
    width: fit-content;
    margin: 0 auto;
    list-style: none;
}
.text-list ul li {
    padding: 10px 0;
    border-top: 1px solid #cdcfd0;
    border-bottom: 1px solid #cdcfd0;
    font-size: 40px;
}
.product-table {
    width: 100%;
}
.table {
    width: fit-content;
    margin: 0 auto;
    background-color: #000000;
    border-radius: 40px;
}
.table-header {
    color: #f4f4f4;
    text-align: center;
    padding: 20px 120px;
}
.table-header p {
    margin: 25px 0;
}
.table-header p:nth-child(1) {
    font-size: 45px;
    font-family: 'Aeonik Bold';
}
.table-header p:nth-child(2) {
    font-size: 24px;
}
.table-header p:nth-child(3) {
    font-size: 24px;
}
.table-content {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.left-content {
    border-right: 2px solid #cdcfd0;
    width: 50%;
    padding: 40px;
    display: inherit;
    justify-content: space-between;
    align-items: flex-end;
}
.left-content .left-side-images {
    height: fit-content;
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.left-content img.relic-table-one {
    width: 195px;
    height: 135px;
    transform: rotate(90deg);
    margin-bottom: 37px;
}
.left-content img.relic-table {
    width: 145px;
    height: 185px;
    margin-bottom: 40px;
}
.right-content {
    border-bottom-right-radius: 40px;
    width: 50%;
    padding: 40px;
    display: inherit;
    justify-content: space-between;
    align-items: flex-end;
}
.right-content img.relic-table {
    height: 425px;
    margin-right: 40px;
}
.specs {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Aeonik Medium';
}
.specs img.one-table {
    width: 40%;
    /*     font-family: 'Aeonik Regular', sans-serif; */
}
.specs img.volta-table {
    width: 40%;
    margin-top: 0;
}
.specs p:nth-last-child(even) {
    font-size: 24px;
    margin: 15px 0;
}
.specs p:nth-last-child(odd) {
    font-size: 16px;
    color: #808080;
}

/* Section 5 */

.benefits-section {
    width: 100%;
    background-color: #000000;
    padding: 40px 0;
}
.benefits-info {
    width: fit-content;
    margin: 0 auto;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1.5fr;
    align-items: flex-start;
}
.benefits-info .text {
    color: #ffffff;
}
.benefits-info .text p:nth-child(1) {
    margin-top: 0px;
    font-size: 55px;
    font-family: 'Aeonik Bold';
}
.benefits-info .text p:nth-child(2) {
    font-size: 24px;
    margin: 30px 0;
}
.benefits-info .text p:nth-child(3) {
    font-size: 24px;
}
.benefits-info .grid {
    max-width: 45vw;
    margin-top: 20px;
}

/* Section 6 */

.team-section {
    width: 100%;
    background-color: #ffffff;
    padding: 80px 0;
}
.team-description {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.team-description h3 {
    font-size: 55px;
    font-family: 'Aeonik Bold';
}
.team-description p {
    font-size: 24px;
    margin: 40px 0;
    color: #666666;
}
.team-members {
    width: auto;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 0.2fr);
    align-content: center;
    justify-content: center;
}
.member-card {
    text-align: center;
    padding: 25px;
}
.member-card img {
    width: 60%;
}
.member-card h3 {
    font-size: 25px;
    margin-bottom: -30px;
    font-family: 'Aeonik Bold';
}
.member-card p {
    font-size: 16px;
    margin: 30px 0;
    color: #666666;
}
.member-card .position {
    color: #000000 !important;
    font-family: 'Aeonik Medium';
}
.linkedin-link img {
    width: 36px;
    margin-bottom: 0;
}
/* Section 7 */

.advisors-section {
    width: 100%;
    background-color: #f4f4f4;
    padding: 80px 0;
}
.advisors-section h3 {
    width: fit-content;
    margin: 0 auto;
    font-size: 55px;
    font-family: 'Aeonik Bold';
}
.advisors {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 0.2fr);
    align-content: center;
    justify-content: center;
}
.advisor-card {
    text-align: center;
    padding: 25px;
}
.advisor-card img {
    width: 60%;
}
.advisor-card h3 {
    font-size: 25px;
    margin-bottom: -30px;
    font-family: 'Aeonik Bold';
    margin-top: 40px;
}
.advisor-card p {
    font-size: 16px;
    margin: 30px 0;
    color: #666666;
}
.advisor-card p a.ad-link {
    all: unset;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in;
}
.advisor-card p a.ad-link:hover {
    border-bottom: 1.5px solid #666666;
}
.advisor-card .position {
    color: #000000;
    font-family: 'Aeonik Medium';
}
.advisor-card img.advisor-tag {
    /* min-width: 200px;
    height: 70px; */
    display: block;
    margin: 0 auto;
    /*     height: auto; */
    width: 100%;
}
.advisor-card .linkedin-link img {
    width: 36px;
    margin: 0px auto;
    margin-top: 17.5px;
}

/* Footer Content */
footer.footer {
    background-color: #1a1a1a;
    width: 100%;
    padding: 60px 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 0.6fr 1.5fr 1fr;
    justify-items: center;
    color: #efefef;
}

/* Footer Section 1 */
.relic-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.relic-section p {
    font-size: 24px;
    margin: 40px 0;
}
.relic-section p:nth-child(even) {
    font-family: 'Aeonik Bold';
    margin-bottom: 0px;
}
.relic-section p:nth-child(odd) {
    margin-bottom: 0px;
}

/* Footer section 2 */
section.newsletter-section {
    visibility: hidden;
}

.newsletter-section h3 {
    font-size: 32px;
    margin-bottom: 60px;
}
.form-inputs {
    border: 2px solid #efefef;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}
.email-input {
    all: unset;
    margin: 20px 0px 20px 20px;
    padding: 10px 0;
    border-right: 1px solid #efefef;
    font-size: 21px;
    font-family: 'Aeonik Medium';
}
.email-input::placeholder {
    font-size: 21px;
    color: #efefef;
    font-family: 'Aeonik Medium';
}
.form-submit {
    font-family: 'Aeonik Medium';
    all: unset;
    margin-right: 60px;
    margin-left: 40px;
    font-size: 21px;
    cursor: pointer;
}

/* Footer Section 3 */
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: fit-content;
}
.contact-section h5 {
    font-size: 32px;
}
.contact-info {
    width: 100%;
}
a.contact-mail {
    display: block;
    text-decoration: none;
    font-size: 21px;
    color: #efefef;
    padding: 5px 0;
    border-bottom: 1px solid #efefef;
}
.media-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0;
}
.media-links img {
    margin: 10px 0;
    margin-right: 10px;
}
.media-links .linkedin-media {
    width: 35px;
    height: 35px;
}
.media-links .youtube-media {
    width: 35px;
    height: 40px;
}
.contact-info .ws {
    color: #efefef;
    margin: 10px 0;
    padding: 5px 0;
    border-bottom: 1px solid #efefef;
}
.contact-info div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}
.contact-info div span {
    width: 50%;
    text-align: left;
}
.contact-info div span a {
    text-decoration: none;
    color: unset;
}

.rights {
    font-size: 18px;
    margin-top: 30px;
}

/* Mobile Layout */

@media only screen and (max-width: 768px) {
    /* Header Content */
    header.header {
        padding: 0.6rem;
        min-height: fit-content;
        background-size: cover;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .navigation {
        align-items: flex-start;
    }
    .navigation .header-text {
        display: none;
    }
    /* Nav */
    nav {
    }
    .sub-navigation {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        height: fit-content;
        color: #efefef;
    }
    .sub-navigation .header-text {
        display: block;
    }
    .sub-navigation .desc-1 {
        margin-top: 40px;
    }
    .sub-navigation .desc-2 {
        margin: 40px 0;
        font-size: 45px;
        line-height: 100%;
    }
    .sub-navigation .desc-box .sub-icons {
        width: 100%;
        margin: 40px 0;
        display: inline-flex;
        justify-content: space-around;
        text-align: center;
        font-size: 12px;
    }
    .sub-navigation .desc-box .sub-icons img {
        width: auto;
    }

    /* Nav bar Toggler */
    .nav-toggler {
        position: fixed;
        top: 1rem;
        right: 1.5rem;
        padding: 1rem;
        z-index: 1000 !important;
    }
    #nav-toggler:checked + .nav-toggler + div.navigation-box {
        transform: translateY(0%);
    }

    /* Deployed Nav Bar */
    .navigation-box {
        padding: 0.6rem;
        min-height: fit-content;
        top: 0;
    }
    .top-nav {
        color: #ffffff;
        display: block;
    }
    .top-nav .navigation-links {
        display: block;
        min-height: fit-content !important;
    }
    .top-nav .navigation-links ul.section-nav {
        list-style: none;
        font-size: 25px;
        line-height: 100%;
        margin-bottom: 60px;
        margin-top: 90px;
        display: block;
        width: 100%;
    }
    .top-nav .nav-mail {
        font-size: 18px;
        max-width: 60%;
        margin: 30px auto;
    }
    label {
    }
    .top-nav .navigation-links ul.section-nav li {
        display: block;
        height: fit-content;
        margin-bottom: 20px;
        cursor: pointer;
        width: fit-content;
        margin: 25px auto;
    }
    .top-nav .navigation-links ul.section-nav li::after {
        content: '';
        display: block;
        width: 0%;
        height: 1.8px;
        border-radius: 5px;
        background-color: #ffffff;
        transition: all 0.2s ease-in;
    }
    .top-nav .navigation-links ul.section-nav li:hover::after {
        width: 100%;
    }

    .bottom-nav {
        color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr;
        margin-top: 85px;
        margin-bottom: 0.6rem;
    }
    .bottom-nav p {
        color: #ffffff;
        font-size: 12px;
    }

    /* Scroll Bar */
    .scroll-bar {
        z-index: 2;
        top: 0;
        position: fixed;
        width: 100%;
        padding: 0.6rem;
        /* background: rgba(103, 103, 103, 0.3);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(5px);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
        background-color: #000000 !important;
        visibility: hidden;
    }
    .scrollbar-visible {
        visibility: visible;
        animation: appear 200ms ease-in 0s;
    }
    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    /* Main Content */

    /* Section 1 */
    section.intro-section {
        height: fit-content;
    }
    .intro-box {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    .intro-title {
        font-size: 49px;
        margin-top: 25px;
    }
    .intro-text-1 {
        font-size: 16px;
    }
    .intro-text-2 {
        font-size: 16px;
        margin-bottom: 25px;
    }

    /* Section 2 */
    section.product-section {
        padding-top: 15px;
        padding-right: 0px;
    }
    /*     .product-header {
        width: 100%;
        display: inline-flex;
        align-items: flex-start;
    } */
    .product-header div:nth-child(2) {
        width: 60%;
    }
    .product-header img {
        width: 40%;
        margin-left: 15px;
    }
    .product-header div p {
        font-size: 25px;
    }
    .portability-img {
        width: 95% !important;
        width: -moz-available;
        width: -webkit-fill-available;
        margin-top: -10px;
    }
    .product-info {
        padding-top: 80px;
        flex-direction: column;
    }
    img.relic-web-home {
        width: 70%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    .detail-box {
        max-width: 90%;
    }
    .line-1 p:nth-child(1) {
        font-size: 18px;
    }
    .line-1 p:nth-child(2) {
        font-size: 35px;
    }
    .line-2 span {
        width: 45%;
    }
    .line-2 span p:nth-child(1) {
        font-size: 18px;
    }
    .line-2 span p:nth-child(2) {
        font-size: 35px;
    }
    .line-2 span p:nth-child(2) span {
        font-size: 20px !important;
    }

    .line-3 span p:nth-child(1) {
        font-size: 18px;
    }
    .line-3 span p:nth-child(2) {
        font-size: 35px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .line-3 span p:nth-child(2) span {
        font-size: 20px !important;
        margin-left: 8px;
        margin-bottom: 5px;
    }
    .line-4 span {
        width: 45%;
    }
    .line-4 span p:nth-child(1) {
        font-size: 18px;
    }
    .line-4 span p:nth-child(2) {
        font-size: 25px;
    }
    .line-4 span p:nth-child(2) span {
        font-size: 20px !important;
    }
    .product-extra {
        margin-top: 50px;
    }
    .product-extra p:nth-child(1) {
        font-size: 25px;
    }
    .product-extra p:nth-child(2) {
        font-size: 25px;
        margin-bottom: 80px;
    }
    .product-extra img.solar-panels {
        width: 90%;
    }
    .solar-panels-image {
        text-align: center;
    }
    .solar-panels-image img:nth-child(odd) {
        width: 25vw;
        z-index: 3;
    }
    .solar-panels-image img:nth-child(even) {
        z-index: 5;
        width: 29vw;
    }
    .details {
        width: 90%;
        flex-direction: column;
    }
    .details img {
        width: 65%;
        margin-bottom: 10px;
    }
    .details p {
        margin-bottom: 30px;
    }
    .consulting {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .consulting img {
        width: 40%;
        margin-right: 00px;
    }
    .consult-button {
        margin-top: 40px;
    }
    /* Section 3 */
    .sub-product-section {
        padding-top: 20px;
    }
    /*     .sub-product-section .product-header div img {
        align-items: flex-start;
    } */
    .sub-product-section .product-header div img {
        width: 40%;
        margin-top: 0px;
    }
    .sub-product-section .product-header div p {
        font-size: 25px;
    }
    .back-gen-img {
        width: 90%;
        margin-top: -10px;
    }

    /* Section 4 */
    .product-2-section {
        padding: 60px 0;
    }
    .product-2-info {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    img.relic-delta {
        width: 65%;
        margin-bottom: 50px;
    }
    .subline-1 {
        border-bottom: 0.5px solid #4d4d4d;
        color: #000000;
        margin-bottom: 15px;
        font-family: 'Aeonik Medium';
    }
    .subline-1 p:nth-child(1) {
        font-size: 18px;
    }
    .subline-1 p:nth-child(2) {
        font-size: 30px;
        margin-bottom: 5px;
        font-family: 'Aeonik Bold';
    }
    .subline-1 p:nth-child(3) {
        font-size: 14px;
        margin: 15px 0;
    }
    .subline-2 {
        color: #000000;
        font-family: 'Aeonik Medium';
        font-size: 12px;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 0.5px solid #4d4d4d;
    }
    /* .subline-2 span {
        width: 33%;
        height: 40px;
        text-align: center;
        margin-bottom: 10px;
    } */
    /* .subline-3 {
        color: #000000;
        padding: 5px 0;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        font-family: 'Aeonik Medium';
    } */
    .subline-3 span {
        width: 49%;
        height: 30px;
        text-align: center;
        border-bottom: 0.5px solid #4d4d4d;
    }
    .subline-3 span:nth-child(1) p {
        font-family: 'Aeonik Bold';
        font-size: 19px;
    }
    .subline-3 span:nth-child(2) p {
        font-size: 18px;
    }
    .subline-3 span:nth-child(3) p {
        font-size: 18px;
    }
    .no-line {
        border-bottom: none;
        margin-top: 10px;
    }
    img.volta-img {
        width: 45%;
        margin-right: 0px;
    }
    .consulting-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 90px;
    }
    .consult-button-2 {
        margin-top: 40px;
        width: 65%;
        padding: 10px 25px;
    }
    .text-list {
        width: 90%;
        margin: 0 auto;
        padding: 90px 0;
    }
    .text-list ul li {
        font-size: 20px;
    }
    .product-table {
        width: 100%;
    }
    .table {
        width: 90%;
        margin: 0 auto;
        background-color: #000000;
        border-radius: 40px;
    }
    .table-header {
        padding: 20px;
    }
    .table-header p {
        margin: 25px 0;
    }
    .table-header p:nth-child(1) {
        font-size: 35px;
    }
    .table-header p:nth-child(2) {
        font-size: 18px;
    }
    .table-header p:nth-child(3) {
        font-size: 18px;
    }
    .table-content {
        display: flex;
        flex-direction: column;
    }
    .left-content {
        border-right: none;
        border-bottom: 2px solid #666666;
        width: 100%;
        align-items: flex-end;
        padding: 30px 15px;
    }
    .left-content .left-side-images {
        display: inherit;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 15px;
    }

    .left-content img.relic-table-one {
        width: 165px;
        height: 125px;
    }
    .left-content img.relic-table {
        width: 140px;
        height: 185px;
        /*         margin-bottom: -10px; */
        /*         margin-right: 30px; */
    }
    .right-content {
        width: 100%;
        align-items: flex-end;
        height: fit-content;
        padding: 30px 25px;
        /*     margin-right: 40px; */
    }
    .right-content img.relic-table {
        height: 375px;
        margin-right: 25px;
    }
    .specs {
        max-height: 600px;
    }
    .specs span {
        display: inherit;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 325px;
        position: relative;
    }
    .specs img.one-table {
        width: 60%;
        margin-bottom: 30px;
    }
    .specs img.volta-table {
        width: 80%;
        margin-bottom: 30px;
    }
    .specs p:nth-last-child(even) {
        font-size: 20px;
        margin: 15px 0;
    }
    .specs p:nth-last-child(odd) {
        font-size: 16px;
        color: #808080;
    }
    .p-right {
        height: fit-content;
        margin-top: 90%;
        position: absolute;
        bottom: -200px;
    }
    /* Section 5 */

    .benefits-section {
        padding: 40px 20px;
    }
    .benefits-info {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
    }
    .benefits-info .text {
        color: #ffffff;
    }
    .benefits-info .text p:nth-child(1) {
        margin-top: 0px;
        font-size: 45px;
    }
    .benefits-info .text p:nth-child(2) {
        font-size: 20px;
        margin: 30px 0;
    }
    .benefits-info .text p:nth-child(3) {
        font-size: 20px;
    }
    .benefits-info .grid {
        max-width: 100%;
        margin-top: 0px;
        margin: 15px auto;
    }

    /* Section 6 */

    .team-section {
        padding: 60px 0;
    }
    .team-description {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
    }
    .team-description h3 {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .team-description p {
        font-size: 18px;
        margin: 20px 20px;
        color: #666666;
    }
    .team-members {
        margin-top: 60px;
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
    }
    .member-card {
        padding: 15px 35px;
    }
    .member-card img {
        width: 40%;
    }
    .member-card h3 {
        font-size: 25px;
        margin-bottom: -20px;
    }
    .member-card p {
        font-size: 15px;
        margin: 30px 0;
        color: #666666;
    }
    .member-card .position {
        margin-bottom: 20px;
    }
    .linkedin-link img {
        width: 36px;
        margin-bottom: 10px;
    }

    /* Section 7 */

    .advisors-section {
        padding: 60px 0;
    }
    .advisors-section h3 {
        font-size: 35px;
    }
    .advisors {
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        margin-top: 60px;
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr;
    }
    .advisor-card {
        text-align: center;
    }
    .advisor-card img {
        width: 40%;
    }
    .advisor-card h3 {
        font-size: 25px;
        margin-bottom: -30px;
        margin-top: 40px;
        font-family: 'Aeonik Bold';
    }
    .advisor-card p {
        font-size: 16px;
        margin: 30px 0;
        color: #666666;
    }
    .advisor-card .position {
        color: #000000;
        font-family: 'Aeonik Medium';
    }
    .advisor-card .advisor-tag {
        width: 35%;
    }
    /* Footer Content */
    footer.footer {
        padding: 40px 20px;
        gap: 15px;
        grid-template-columns: 1fr;
        justify-items: flex-start;
    }

    /* Footer Section 1 */
    .relic-section {
        margin-bottom: 60px;
    }
    .relic-section p {
        font-size: 24px;
        margin: 40px 0;
    }
    .relic-section p:nth-child(even) {
        font-family: 'Aeonik Bold';
        margin-bottom: 0px;
    }
    .relic-section p:nth-child(odd) {
        margin-bottom: 0px;
    }

    /* Footer section 2 */
    .newsletter-section {
        display: none;
        width: 100%;
        margin-bottom: 60px;
    }
    .newsletter-section h3 {
        font-size: 20px;
        margin-bottom: 40px;
    }
    form {
        width: 100%;
    }
    .form-inputs {
        width: 100%;
        padding: 5px;
    }
    .email-input {
        all: unset;
        padding: 10px;
        width: 50%;
        font-size: 16px;
        border-right: 1px solid #efefef;
    }
    .email-input::placeholder {
        font-size: 16px;
    }
    .form-submit {
        margin-left: 10px;
        margin-right: 0;
        padding: 10px;
        width: fit-content;
        font-size: 16px;
        cursor: pointer;
    }

    /* Footer Section 3 */
    .contact-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    .contact-section h5 {
        font-size: 20px;
        margin-bottom: 25px;
    }
    .contact-info {
        width: 100%;
    }
    a.contact-mail {
        display: block;
        text-decoration: none;
        font-size: 21px;
        color: #efefef;
        padding: 5px 0;
        border-bottom: 1px solid #efefef;
    }
    .media-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 15px 0;
    }
    .media-links img {
        margin: 10px 0;
        margin-right: 10px;
    }
    .media-links .linkedin-media {
        width: 35px;
        height: 35px;
    }
    .contact-info .ws {
        color: #efefef;
        margin: 10px 0;
        padding: 5px 0;
        border-bottom: 1px solid #efefef;
    }
    .contact-info div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 5px;
    }
    .contact-info div span {
        width: 50%;
        text-align: left;
    }

    .rights {
        font-size: 16px;
        margin-top: 20px;
    }
}

/* Footer Large desktop */
@media only screen and (min-width: 1526px) {
    footer.footer {
        padding: 40px 15vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1) {
    footer.footer {
        padding: 40px 15vw;
    }
}

/* Animation section */
.animate__animated.animate__fadeIn {
    --animate-duration: 1500ms;
}
.animate__animated .animate__fadeInUp {
    --animate-duration: 500ms;
}
.animate__animated.animate__fadeInRight {
    -o-animation-duration: 1500ms;
}
